{% extends "global/base.html" %}
{% load static %}

{% block title %} Timeline {% endblock title %}  

{% block main %}
    
    <main class="home-page">
        <header class="header-newproject">
            {% if show_button %}
                <a href="{% url "portfolio:new_project_step1"%}">
                    <button>
                        <i class="bi bi-plus-lg"></i>
                        Novo Projeto
                    </button>
                </a>
            {% endif %}
        </header>

        <div class="section-projects">
            <div class="row padding-off">
                <div class="col-2 first-col">
                    <a href="{% url "portfolio:payment-page" %}">
                        <img src="{% static "global/media/timeline/first-col.svg" %}" alt="">
                        <div class="subscription-plan">
                            <h1>
                                Conheça nossos planos de assinatura!
                            </h1>
                        </div>
                    </a>
                </div>
    
                <div class="col second-col">
                    <a href="{% url "portfolio:hunter_douglas" %}">
                        <img src="{% static "global/media/timeline/second-col.svg" %}" alt="">
                        <div class="link-clubfolio">
                            <h1>Nova parceria!</h1>
                            <h1>Decoração de janelas</h1>
                        </div>
                        <div class="hunter-logo">
                            <img src="{% static "global/media/timeline/HunterDouglas.svg" %}" alt="">
                        </div>
                    </a>
                </div>
            </div>

        </div>

        <div class="section-projects">
            <div class="row padding-off">
                <div class="col-2 first-col">
                    <a href="#">
                        <img src="{% static "global/media/timeline/first-col2.svg" %}" alt="">
                        <div class="decorbook-link">
                            <img style=" width: 24px; height: 24px;" src="{% static "global/media/icons/Bag.svg" %}" alt="">
                            <h1>Decorbook</h1>
                        </div>
                    </a>
                </div>
    
                <div class="col second-col">
                    <div class="row padding-off">
                        <div class="col clubfolio-HomePage">
                            <img src="{% static "global/media/timeline/clubfolio-homepage.svg" %}" alt="">
                            <div class="clubfolio-box">
                                Veja o que esta bombando no Clubfolio agora!
                            </div>
                        </div>
                        <div class="col trends-HomePage">
                            <img src="{% static "global/media/timeline/trends-Homepage.svg" %}" alt="">
                            <div class="trends-box">
                                Acompanhe as principais trends de decoração
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>


    </main>

{% endblock main %}