{% extends "global/base.html" %}
{% load static %}

{% block title %} Timeline {% endblock title %}  

{% block main %}

    <header class="header-timeline">
        <div class="header-logo">
            <a href="#">
                <img src="{% static 'global/media/img/decor-logo.svg' %}" alt="">
            </a>
        </div>



        <nav class="nav-timeline">

            <a class="active" href="{% url "portfolio:home_page" %}">
                <button>
                    Home
                </button>
            </a>

            <a href="{% url "portfolio:timeline_portfolio" %}">
                <button >
                    Clubfolio
                </button>
            </a>
            
            <a href="{% url "portfolio:my_projects" %}">
                <button>
                    Meus projetos
                </button>
            </a>

            <a href="#">
                <button>
                    Club rewards
                </button>
            </a>

            <a class="user" href="#">
                <button>
                    <i class="bi bi-person-fill"></i>
                </button>
            </a>

        </nav>



    </header>
    
    <main class="home-page">
        <header class="header-newproject">
            {% if user.is_authenticated and is_professional %}
                <a href="{% url "portfolio:new_project_step1"%}">
                    <button>
                        <i class="bi bi-plus-lg"></i>
                        Novo Projeto
                    </button>
                </a>
            {% endif %}
        </header>

        <div class="section-projects">
            <div class="row">
                <div class="col-2 first-col">
                    <img src="{% static "global/media/timeline/first-col.svg" %}" alt="">
    
                </div>
    
                <div class="col second-col">
                    <img src="{% static "global/media/timeline/second-col.svg" %}" alt="">
                </div>
            </div>

        </div>

        <div class="section-projects">
            <div class="row">
                <div class="col-2 first-col">
                    <img src="{% static "global/media/timeline/first-col2.svg" %}" alt="">
    
                </div>
    
                <div class="col second-col">
                    <img src="{% static "global/media/timeline/second-col2.svg" %}" alt="">
                </div>
            </div>

        </div>


    </main>

{% endblock main %}