{% extends "global/base.html" %}
{% load static %}

{% block title %} Timeline {% endblock title %}  

{% block main %}
    
    <main class="main-HunterDouglas">
        <header class="header-HunterDouglas">
            <img src="{% static 'global/media/img/hunter-douglas/header.svg' %}" alt="">
            <div class="logo-icon">
                <img src="{% static 'global\media\timeline\HunterDouglas.svg' %}" alt="">  
            </div>
        </header>
        <div class="info-HunterDouglas">
            <h2>
               A Hunter Douglas é líder mundial na fabricação de produtos arquitetônicos, incluindo
               sistemas inovadores de cobertura de janelas, controle solar, revestimentos, pisos 
               elevados, forros e fachadas.
            </h2>
        </div>

         <section class="section-HunterDouglas">
            <header>
                <h3>
                    Projetos com a empresa
                </h3>
            </header>

            <div class="projects-HunterDouglas">

                <div class="img-HunterDouglas">
                    <img src="{% static 'global\media\img\hunter-douglas\img1.svg' %}" alt="">
                    <div class="legends-HunterDouglas">
                        <h1>Marisa Murta</h1>
                        <p>
                            O desafio deste projeto foi de conciliar em um mesmo
                             ambiente duas atividades: profissional e pessoal. Em 
                             um mesmo local, uma sala de terapia para uma renomada 
                             psicóloga paulistana e um espaço pessoal e acolhedor, 
                             para uso da família. A beleza e a funcionalidade da 
                             Persiana Country Woods Hunter Douglas® garantiram o 
                             sucesso do projeto com muita beleza e aconchego.
                        </p>
                        <h2>Fotografia: <span>Paula Korosue</span></h2>
                        <div class="spacer"></div>
                        <a href="#">
                            <p>Ver produto</p>
                            <img src="{% static 'global\media\icons\Increase.svg' %}" alt="">
                        </a>
                    </div>

                </div>

                <div class="img-HunterDouglas">
                    <img src="{% static 'global\media\img\hunter-douglas\img2.svg' %}" alt="">
                    <div class="legends-HunterDouglas">
                        <h1>Aline Candussú</h1>
                        <p>
                            A proposta conceitual da Revenda Quatro Estações foi trazer comodidade
                             associada à agilidade e tecnologia para atendimento aos clientes e 
                             profissionais. O projeto tornou os ambientes mais modernos, atraentes 
                             e elegantes, o que contribuirá para facilitar as escolhas entre o mix 
                             de produtos da linha Hunter Douglas®, como as Cortinas Twinline®, no 
                             térreo, e a Parametre, no piso superior.
                        </p>
                        <h2>Fotografia: <span>Marcelo Negromonte</span></h2>
                        <div class="spacer"></div>
                        <a href="#">
                            <p>Ver produto</p>
                            <img src="{% static 'global\media\icons\Increase.svg' %}" alt="">
                        </a>
                    </div>

                </div>

                <div class="img-HunterDouglas">
                    <img src="{% static 'global\media\img\hunter-douglas\img4.svg' %}" alt="">
                    <div class="legends-HunterDouglas">
                        <h1>Bethania Tejo</h1>
                        <p>
                            O amplo living deste apartamento urbano tem vista panorâmica para o 
                            oceano Atlântico e abundância de luz natural. As Cortinas Rolô Hunter 
                            Douglas® assumem um papel extraordinário de conforto na filtragem dos 
                            raios solares, sem bloquear a visão externa, e ainda conferem sofisticação 
                            e discrição ao ambiente contemporâneo em tons claros e escuros.
                        </p>
                        <h2>Fotografia: <span> Lyssandro Silveira</span></h2>
                        <div class="spacer"></div>
                        <a href="#">
                            <p>Ver produto</p>
                            <img src="{% static 'global\media\icons\Increase.svg' %}" alt="">
                        </a>
                    </div>

                </div>

                <div class="img-HunterDouglas">
                    <img src="{% static 'global\media\img\hunter-douglas\img4.svg' %}" alt="">
                    <div class="legends-HunterDouglas">
                        <h1>Analice Zirpoli e Humberto Zirpoli</h1>
                        <p>
                            O apartamento dos anos 70 foi reformado para um jovem casal, sendo preservados 
                            alguns elementos da época, como o piso e as esquadrias. Além de valorizar esta 
                            arquitetura, as Cortinas Silhouette® Hunter Douglas® proporcionaram luminosidade 
                            e beleza ao espaço. Tons neutros, como o branco e o fendi, foram aquecidos com 
                            toques de preto, de verde e muitas plantas.
                        </p>
                        <h2>Fotografia: <span> Alexandre Albuquerque Silva</span></h2>
                        <div class="spacer"></div>
                        <a href="#">
                            <p>Ver produto</p>
                            <img src="{% static 'global\media\icons\Increase.svg' %}" alt="">
                        </a>
                    </div>

                </div>

            </div>
         </section>
    </main>


{% endblock main %}