{% extends "global/base.html" %}
{% load static %}

{% block title %} Timeline {% endblock title %}  

{% block main %}

    <header class="header-timeline">
        <div class="header-logo">
            <a href="#">
                <img src="{% static 'global/media/img/decor-logo.svg' %}" alt="">
            </a>
        </div>



        <nav class="nav-timeline">

            <a class="" href="{% url "portfolio:home_page" %}">
                <button>
                    Home
                </button>
            </a>

            <a href="{% url "portfolio:timeline_portfolio" %}">
                <button >
                    Clubfolio
                </button>
            </a>
            
            <a class="active" href="{% url "portfolio:my_projects" %}">
                <button>
                    Meus projetos
                </button>
            </a>

            <a href="#">
                <button>
                    Club rewards
                </button>
            </a>

            <a class="user" href="#">
                <button>
                    <i class="bi bi-person-fill"></i>
                </button>
            </a>

        </nav>



    </header>

    <main class="body-MyProjects">

        <header class="row header-MyProjects">
            <h1>Meus projetos</h1>
            <a href="#">
                <button>Procure profissionais</button>
            </a>
        </header>

        <section class="projects-MyProjects">
            
            <a href="#" class="sections-rooms">
                <img src="{% static "global/media/projects/living-room.svg" %}" alt="">
                <div class="section-house">
                    <h1>Sala de estar</h1>
                </div>
            </a>

        </section>
        <div class="spacer"></div>
        <footer class="footer-myprojects">
            <button>
                Adicionar ao painél
            </button>
        </footer>

    </main>

{% endblock main %}