{% extends "global/base.html" %}
{% load static %}

{% block title %} Timeline {% endblock title %}  

{% block main %}

    <main class="body-MyProjects">

        <header class="row header-MyProjects">
            <h1>Meus projetos</h1>
            <a href="#">
                <button>Procure profissionais</button>
            </a>
        </header>

        <section class="projects-MyProjects">
            
            <a href="#" class="sections-rooms">
                <img src="{% static "global/media/projects/living-room.svg" %}" alt="">
                <div class="section-house">
                    <h1>Sala de estar</h1>
                </div>
            </a>

            <a href="#" class="sections-rooms">
                <img src="{% static "global/media/projects/Cozinha.svg" %}" alt="">
                <div class="section-house">
                    <h1>Cozinha</h1>
                </div>
            </a>

            <a href="#" class="sections-rooms">
                <img src="{% static "global/media/projects/Sala_de_estar.svg" %}" alt="">
                <div class="section-house">
                    <h1>Sala de Jantar</h1>
                </div>
            </a>

            <a href="#" class="sections-rooms">
                <img src="{% static "global/media/projects/Suite.svg" %}" alt="">
                <div class="section-house">
                    <h1>Suíte</h1>
                </div>
            </a>

            <a href="#" class="sections-rooms">
                <img src="{% static "global/media/projects/Quarto.svg" %}" alt="">
                <div class="section-house">
                    <h1>Quarto</h1>
                </div>
            </a>

            <a href="#" class="sections-rooms">
                <img src="{% static "global/media/projects/Banheiro.svg" %}" alt="">
                <div class="section-house">
                    <h1>Banheiro</h1>
                </div>
            </a>

        </section>
        <div class="spacer"></div>
        <footer class="footer-myprojects">
            <button>
                Adicionar ao painél
            </button>
        </footer>

    </main>

{% endblock main %}