{% extends "global/base.html" %}
{% load static %}

{% block title %} Timeline {% endblock title %}

{% block main %}

<main class="newproject-steps">

    <div class="central-container">
        <div class="initial-info">

            <header class="row justify-content-center tree-step">

                <div class="col-1 step step1-select">
                    <div class="step-num num-on">
                        1
                    </div>
                    <div class="step-info info-on">
                        Informações iniciais
                    </div>
                </div>

                <div class="col line-step">
                    <div class="line"></div>
                </div>

                <div class="col-1 step step2">
                    <div class="step-num num-off">
                        2
                    </div>
                    <div class="step-info info-off">
                        Técnicas
                    </div>
                </div>

                <div class="col line-step">
                    <div class="line"></div>
                </div>

                <div class="col-1 step step2">
                    <div class="step-num num-off">
                        3
                    </div>
                    <div class="step-info info-off">
                        Imagens
                    </div>
                </div>

            </header>

            <form action="{% url 'portfolio:new_project_step1' %}" method="POST" class="newproject-form-step1">
                {% csrf_token %}
                <h1>Novo projeto</h1>
                <h2>Adicione as informações de acordo com os detalhes do seu projeto.</h2>

                <div class="row ">
                    <div class="col form-input">
                        <h3>Nome</h3>
                        {{form_stepone.name}}
                    </div>

                    <div class="col form-input">
                        <h3>Adicionar parceiro</h3>
                        {{form_stepone.partner}}
                    </div>
                </div>

                <div class="row resume">
                    <div class="col form-input ">
                        <h3>Resumo</h3>
                        {{form_stepone.summary}}
                    </div>
                </div>

                <div class="row date">
                    <div class="col form-input ">
                        <h3>Duração</h3>
                        <section>

                            <div class="">
                                {{form_stepone.data_initial}}
                            </div>

                            <div class="">
                                {{form_stepone.data_final}}
                            </div>
                        </section>
                    </div>
                    <div class="col">

                    </div>
                </div>

                <div class="submit-button-step1">
                    <button type="submit">
                        Próximo
                    </button>

                </div>

            </form>
        </div>
    </div>
</main>

{% endblock main %}