{% extends "global/base.html" %}
{% load static %}

{% block title %} Timeline {% endblock title %}  

{% block main %}


<main class="newproject-steps">

    <div class="central-container">
        <div class="initial-info">

            <header class="row justify-content-center tree-step">
    
                <div class="col-1 step ">
                    <div class="step-num num-off">
                        1
                    </div>
                    <div class="step-info info-on">
                        Informações iniciais
                    </div>
                </div>
    
                <div class="col line-step"> <div class="line"></div> </div>
                
                <div class="col-1 step step1-select">
                    <div class="step-num num-on">
                        2
                    </div>
                    <div class="step-info info-off">
                        Técnicas
                    </div>
                </div>
    
                <div class="col line-step"> <div class="line"></div> </div>
    
                <div class="col-1 step step2">
                    <div class="step-num num-off">
                        3
                    </div>
                    <div class="step-info info-off">
                        Imagens
                    </div>
                </div>
    
            </header>

            <form action="" method="post" class="newproject-form-step1">
                {% csrf_token %}
                <h1>Novo projeto</h1>
                <h2>Adicione as informações de acordo com os detalhes do seu projeto.</h2>
                
                <div class="row ">
                    <div class="col form-input">
                        <h3>Área</h3>
                        {{form_steptwo.area}}
                    </div>

                    <div class="col form-input">
                        <h3>Categorias</h3>
                        {{form_steptwo.categories}}
                    </div>
                </div>

                
                <div class="row ">
                    <div class="col form-input">
                        <h3>Cômodos</h3>
                        {{form_steptwo.rooms}}
                    </div>

                    <div class="col form-input">
                        <h3>Adicionar lojas</h3>
                        {{form_steptwo.add_stores}}
                    </div>
                </div>

                
                <div class="row style">
                    <div class="col form-input ">
                        <h3>Estilo</h3>
                        {{form_steptwo.style}}
                    </div>

                </div>

                <div class="submit-button-step1">
                    <button type=submit>
                        Próximo
                    </button>
                </div> 

            </form>

        </div>
    </div>
</main>


{% endblock main %}