{% extends "global/base.html" %}
{% load static %}

{% block title %} Timeline {% endblock title %}  

{% block main %}

<main class="newproject-steps">

    <div class="central-container">
        <div class="initial-info">

            <header class="row justify-content-center tree-step">
    
                <div class="col-1 step step1-select">
                    <div class="step-num num-off">
                        1
                    </div>
                    <div class="step-info info-off">
                        Informações iniciais
                    </div>
                </div>
    
                <div class="col line-step"> <div class="line"></div> </div>
                
                <div class="col-1 step step2">
                    <div class="step-num num-off">
                        2
                    </div>
                    <div class="step-info info-off">
                        Técnicas
                    </div>
                </div>
    
                <div class="col line-step"> <div class="line"></div> </div>
    
                <div class="col-1 step step2">
                    <div class="step-num num-on">
                        3
                    </div>
                    <div class="step-info info-on">
                        Imagens
                    </div>
                </div>
    
            </header>

            <form action="{% url "portfolio:new_project_step3" %}" method="POST" class="newproject-form-step1" id="imageForm" enctype="multipart/form-data">
                {% csrf_token %}
                <h1>Novo projeto</h1>
                <h2>Adicione as informações de acordo com os detalhes do seu projeto.</h2>

                <div class="upload-container">
                    <h2>Seleção de imagens</h2>
                    <div class="drop-box" id="dropBox">
                        <label for="images">
                            <img src="{% static 'global/media/icons/FileAdd.svg' %}" alt="">
                            <h1>Clique aqui</h1>
                            <h2>ou arraste suas imagens</h2>
                        </label>
                        <input type="file" name="images" id="images" multiple required=false>
                    </div>
                    <h3>Imagens selecionadas</h3>
                    <h4>Arraste as imagens para mudar a ordem</h4>
                    
                    <div id="imagePreviews"></div>
                </div>

                <div class="submit-button-step1">
                        <button type=submit>
                            Próximo
                        </button>
                </div> 

            </form>
            
        </div>
    </div>
</main>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#imageForm').submit(function(event) {
            event.preventDefault(); // Impede o envio do formulário padrão
            
            var formData = new FormData();
            var files = $('#images')[0].files;
            for (var i = 0; i < files.length; i++) {
                formData.append('img_upload', files[i]);
            }
            
            formData.append('ajax', true);

            var csrfToken = $('input[name="csrfmiddlewaretoken"]').val();
            formData.append('csrfmiddlewaretoken', csrfToken);
            
            $.ajax({
                url: $(this).attr('action'),
                type: $(this).attr('method'),
                data: formData,
                processData: false,
                contentType: false,
                success: function(response) {
                    console.log('Imagens enviadas com sucesso!');
                    window.location.href = urlRedirect
                },
                error: function(xhr, status, error) {
                    console.error('Erro ao enviar imagens:', error);
                }
            });
        });
    });
</script>
<script>var urlRedirect = "{%  url 'portfolio:timeline_portfolio' %}"</script>

{% endblock main %}