{% extends "global/base.html" %}
{% load static %}

{% block title %} Timeline {% endblock title %}  

{% block main %}

    <main class="project_page">
        <div class="row">
            <div class="col-2 user-project-data">

                <div class="back-page">
                    <a href="{{request.META.HTTP_REFERER}}">
                        <i class="bi bi-arrow-left"></i>

                    </a>
                </div>

                <section >
                    <div class="user-photo">
                        {% if project.user.professional_profile.profile_picture %}
                            <img src="{{ project.user.professional_profile.profile_picture.url }}" alt="">
                        {% else %}
                            <img src="{% static 'global/media/img/default.jpg' %}" alt="">

                        {% endif %}
                    </div>

                    <div class="user-info">
                        <a href="{% url "user:professional_profile" profile_id=project.user.id %}">
                            <h1>{{ project.user.full_name }}</h1>
                            <h2>{{profession|capfirst}}</h2>
                        </a>

                        <div class="social-accounts">
                            <a href="#">
                                <button>
                                    <i class="bi bi-instagram"></i>
                                </button>
                            </a>
                            <a href="#">
                                <button>
                                    <i class="bi bi-linkedin"></i>
                                </button>
                            </a>
                        </div>

                    </div>

                    <div class="data-project">
                        <section>
                            <h2>Área:</h2> <span>{{area}}</span>
                        </section>

                        <section>
                            <h2>Ano:</h2> <span>{{data_final_ano}}</span>
                        </section>

                        <section>
                            <h2>Parceiros:</h2> <span> {{partner}} </span>
                        </section>

                    </div>

                    <div class="about-project">
                        <h1>Sobre o projeto: <span>{{summary}}</span></h1> 
                    </div>
        
                </section>

                <div class="spacer"></div>
                {% if is_owner %}
                    <a href="#" class="button-contact button-editPost">
                        <button>
                            <img src="{% static 'global\media\icons\ThinPencil.svg' %}" alt="">
                            Editar projeto
                        </button>
                    </a>
                {% else %}
                    <a href="#" class="button-contact">
                        <button>
                            Contrate {{ project.user.full_name }}
                        </button>
                    </a>
                {% endif %}

            </div>

            <div class="col product-photos">

                <header class="row justify-content-between">
                    <div class="col">
                        <h1>{{name}} - {{style}}</h1>
                    </div>
                    
                    <div class="col-2">
                        <div class="like-comment">
                            <div class="like">
                                <i class="bi bi-heart"></i>
                                <span>5.1k</span>
                            </div>
                            <div class="comment">
                                <i class="bi bi-send"></i>
                                <span>2.8</span>
                            </div>
                        </div>
                    </div>
                </header>

                <main class="image-section-ProjectPage">
                    <div class="project-photo">
                        {% for image in images  %}
                            <a href="#">
                                <img src="{{image.img_upload.url }}" alt="Project Image">
                            </a>
                        {% endfor %}

                    </div>
                </main>
            </div>
        </div>

    </main>

{% endblock main %}