{% extends "global/base.html" %}
{% load static %}

{% block title %} Timeline {% endblock title %}  

{% block main %}

    <main class="row project_page">

        <div class="col-2 user-project-data">

            <div class="back-page">
                <a href="{% url "portfolio:timeline_portfolio" %}">
                    <i class="bi bi-arrow-left"></i>

                </a>
            </div>

            <section >
                <div class="user-photo">
                    <img src="{% static 'global/media/img/user-profile.svg' %}" alt="">
                </div>

                <div class="user-info">
                    <a href="{% url "portfolio:portfolio"%}">
                    </a>
                    <h1>{{username}}</h1>
                    <h2>{{profession|capfirst}}</h2>

                    <div class="social-accounts">
                        <a href="#">
                            <button>
                                <i class="bi bi-instagram"></i>
                            </button>
                        </a>
                        <a href="#">
                            <button>
                                <i class="bi bi-linkedin"></i>
                            </button>
                        </a>
                    </div>

                </div>

                <div class="data-project">
                    <section>
                        <h2>Área:</h2> <span>{{area}}</span>
                    </section>

                    <section>
                        <h2>Ano:</h2> <span>{{data_final_ano}}</span>
                    </section>

                    <section>
                        <h2>Fabricantes:</h2> <span>Canti Decor,Canti Decor, Polca Design, Coral, Cadeiras rosa, Alutol </span>
                    </section>

                </div>

                <div class="about-project">
                    <h1>Sobre o projeto</h1>
                    <h2>{{summary}}.</h2>
                </div>
    
            </section>

            <div class="spacer"></div>

            <a href="#" class="button-contact">
                <button>
                    Contrate Martin
                </button>
            </a>

        </div>

        <div class="col product-photos">

            <header class="row justify-content-between">
                <div class="col">
                    <h1>{{name}} - {{style}}</h1>
                </div>
                
                <div class="col-2">
                    <div class="like-comment">
                        <div class="like">
                            <i class="bi bi-heart"></i>
                            <span>5.1k</span>
                        </div>
                        <div class="comment">
                            <i class="bi bi-send"></i>
                            <span>2.8</span>
                        </div>
                    </div>
                </div>
            </header>

            <main class="image-section-ProjectPage">
                <div class="project-photo">
                    {% for image in images  %}
                        <a href="#">
                            <img src="{{image.img_upload.url }}" alt="Project Image">
                        </a>
                    {% endfor %}

                </div>
            </main>
        </div>

    </main>

{% endblock main %}