{% extends "global/base.html" %}
{% load static %}

{% block title %} Timeline {% endblock title %}  

{% block main %}

    <main class="portifolio_timeline">
        <section class="">
                <h1>
                    Projetos
                </h1>

                <div class="search-input">
                    <span>
                        <i class="bi bi-list"></i>
                        <input id="search-input" type="text" placeholder="Procurar projeto, arqu...">  
                        <i class="bi bi-search"></i>
                    </span>
                </div>

        </section>

        <main class="grid-wrapper">
            {% for project in projects %}
                {% for image in project.images %}
                    <div class="img-timeline" id="timeline-posts">
                        <a href="{% url 'portfolio:new_project_page' project_id=project.id %}">
                            <div class="img-container">
                                <img src="{{ image.img_upload.url }}" alt="Project Image" loading="lazy">
                            </div>
                            <div class="user-info-TimeLine">
                                <div class="userPhoto-TimeLine">
                                    {% if project.user.professional_profile.profile_picture %}
                                        <img src="{{ project.user.professional_profile.profile_picture.url }}" alt="">
                                    {% else %}
                                        <img src="{% static 'global/media/img/default.jpg' %}" alt="">
                                    {% endif %}
                                </div>
                                <section>
                                    <h1>{{ project.user.full_name }}</h1>
                                    {% if user.is_staff %} 
                                        <h1>Super usuário</h1>
                                    {% else %}
                                        <h1>{{ project.user.professional_profile.profession|capfirst }}</h1>
                                    {% endif %}
                                </section>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            {% endfor %}
        </main>

    </main>

{% endblock main %}
