{% extends "global/base.html" %}
{% load static %}

{% block title %} Timeline {% endblock title %}  

{% block main %}

    <main class="portifolio_timeline">
        <section class="">
                <h1>
                    Clubfolio
                </h1>

                <div class="search-input">
                    <span>
                        <i class="bi bi-list"></i>
                        <input id="search-input" type="text" placeholder="Procurar projeto, arqu...">  
                        <i class="bi bi-search"></i>
                    </span>
                </div>

        </section>

        <main class="grid-wrapper">
            {% for project in projects %}
                {% for image in project.images %}
                    <div class="img-timeline" id="timeline-posts">
                        <a href="{% url 'portfolio:project_page' project_id=project.id %}">
                            <div class="img-container">
                                <img src="{{ image.img_upload.url }}" alt="Project Image">
                            </div>
                            <div class="user-info-TimeLine">
                                <h1>{{ project.user.full_name }}</h1>
                                {% if user.is_staff %} 
                                    <h1>Super usuário</h1>
                                {% else %}
                                    <h1>{{ project.user.professional_profile.profession|capfirst }}</h1>
                                {% endif %}
                            </div>
                        </a>
                    </div>
                {% endfor %}
            {% endfor %}
        </main>

    </main>

{% endblock main %}
