{% extends "global/base.html" %}
{% load static %}

{% block title %} Timeline {% endblock title %}  

{% block main %}

    <header class="header-timeline">
        <div class="header-logo">
            <a href="#">
                <img src="{% static 'global/media/img/decor-logo.svg' %}" alt="">
            </a>
        </div>



        <nav class="nav-timeline">

            <a  href="{% url " portfolio:home_page" %}">
                <button>
                    Home
                </button>
            </a>

            <a class="active" href="{% url " portfolio:timeline_portfolio" %}">
                <button >
                    Clubfolio
                </button>
            </a>
            
            <a href="{% url " portfolio:my_projects" %}">
                <button>
                    Meus projetos
                </button>
            </a>

            <a href="#">
                <button>
                    Club rewards
                </button>
            </a>

            <a class="user" href="#">
                <button>
                    <i class="bi bi-person-fill"></i>
                </button>
            </a>

        </nav>



    </header>

    <main class="portifolio_timeline">
        <section class="">
                <h1>
                    Clubfolio
                </h1>

                <div class="search-input">
                    <span>
                        <i class="bi bi-list"></i>
                        <input type="text" placeholder="Procurar projeto, arqu...">  
                        <i class="bi bi-search"></i>
                    </span>
                </div>

        </section>


        <main class="grid-wrapper">
            <div class="img-timeline ">
                <a href="{% url " portfolio:portfolio"%}">
                    <img src="{% static "global/media/timeline/Img-1.svg" %}" alt="">
                </a>
            </div>
            <div class="img-timeline">
                <img src="{% static "global/media/timeline/Img-2.svg" %}" alt="">
            </div>
            <div class="img-timeline">
                <img src="{% static "global/media/timeline/Img-3.svg" %}" alt="">
            </div>
            <div class="img-timeline ">
                <img src="{% static "global/media/timeline/Img-4.svg" %}" alt="">
            </div>
            <div class="img-timeline ">
                <img src="{% static "global/media/timeline/Img-5.svg" %}" alt="">
            </div>
            <div class="img-timeline ">
                <img src="{% static "global/media/timeline/Img-6.svg" %}" alt="">
            </div>
        </main> 
    </main>

{% endblock main %}
