{% load static %}

<header class="header-timeline">
    <div class="header-logo">
        <a href="{% url "user:landing_page" %}">
            <img src="{% static 'global/media/img/decor-logo.svg' %}" alt="">
        </a>
    </div>

    <nav class="nav-timeline">

        <a class="active" href="{% url "portfolio:portfolio" %}">
            <button>
                Home
            </button>
        </a>

        <a href="{% url "portfolio:timeline_portfolio" %}">
            <button >
                Clubfolio
            </button>
        </a>
        
        <a href="#">
            <button>
                Meus projetos
            </button>
        </a>

        <a href="#">
            <button>
                Club rewards
            </button>
        </a>

        <a class="user" href="#">
            <button>
                <i class="bi bi-person-fill"></i>
            </button>
        </a>

    </nav>



</header>