{% load static %}

<header class="header-timeline">
    <div class="header-logo">
        <a href="#">
            <img src="{% static 'global/media/img/decor-logo.svg' %}" alt="">
        </a>
    </div>

    <nav>
        <a href="#">
            <button>
                Clubfolio
            </button>
        </a>
        
        <a href="#">
            <button>
                Meus projetos
            </button>
        </a>

        <a href="#">
            <button>
                Contrate aqui
            </button>
        </a>

        <a href="#">
            <button>
                Club rewards
            </button>
        </a>

    </nav>

</header>