.header-timeline{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 12px 24px 0 0 ;

}

.header-timeline .header-logo{
    width: 111px;
    height: 48px;
}

.header-timeline nav{
    display: flex;
    align-items: center;

    gap: 48px;
}

.header-timeline nav a button{
    border: none;
    background-color: transparent;

    font-family: var(--font-principal);
    font-size: 16px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;

    cursor: pointer;

}   

.header-timeline nav .user button{
    width: 42px;
    height: 42px;
    background-color: #E9E9E9;

    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    

}   

.header-timeline nav .user button i{
font-size: 24px;
    

}   

.header-timeline nav .active{
    border-bottom: solid 1px #242424;

}   