{% load static %}

<html lang="pt-BR">
    <head>
        {% include 'global/partials/head.html' %}
    
        <title>
            DecorBook
        </title>
    </head>

    <body class="body-landing_page">
        <div class="row justify-content-between">
            <div class="col-1">
                <div class="img-logo-LadingPage">
                    <img src="{% static "global/media/img/decor-logo.svg" %}" alt="">
                </div>
            </div>

            <div class="col-3">
                <div class="buttons-login-register-LandingPage">
                    <a href="{% url "user:login" %}" class="buttons-login-LadingPage">
                        <button>
                            Login
                        </button>
                    </a>

                    <a href="{% url "user:register-page" %}" class="buttons-register-LadingPage">
                        <button>
                            Register
                        </button>
                    </a>
                </div>
            </div>
        </div>

        <div class="row body-LandingPage" id="section-1">
            <div class="col text-LandingPage">
                <h1>
                    Participe do clube de recompensas mais exclusivo
                </h1>
                <h2>
                    Aproveite os benefícios enquanto acessa as melhores opções para o seu projeto 
                </h2>
            </div>
             <div class="col grid-LandingPage">
                <div class="img-LandingPage ">
                    <a href="#">
                        <img src="{% static "global/media/landing_page/Img-1.svg" %}" alt="">
                    </a>
                </div>
                <div class="img-LandingPage ">
                    <a href="#">
                        <img src="{% static "global/media/landing_page/Img-2.svg" %}" alt="">
                    </a>
                </div>

                <div class="img-LandingPage ">
                    <a href="#">
                        <img src="{% static "global/media/landing_page/Img-4.svg" %}" alt="">
                    </a>
                </div>
                <div class="img-LandingPage ">
                    <a href="#">
                        <img src="{% static "global/media/landing_page/Img-5.svg" %}" alt="">
                    </a>
                </div>
                <div class="img-LandingPage ">
                    <a href="#">
                        <img src="{% static "global/media/landing_page/Img-3.svg" %}" alt="">
                    </a>
                </div> 
             </div>
        </div>
    </body>
</html>