
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'global/partials/head.html' %}
    <title>DecorBook | Login</title>
</head>
<body>
    {% include 'global/partials/header-pub.html' %}

    <main class="login_page">
        <section>
            <form action="{% url 'user:login' %}" method="post">
                {% csrf_token %}
                <h1>
                    Login
                </h1>

            {% if login_form.errors %}
                <div class="input-section-form input-error">
                    <h2>E-mail</h2>
                    {{ login_form.email }}
                </div>
            {% else %}
                <div class="input-section-form">
                    <h2>E-mail</h2>
                    {{ login_form.email }}
                </div>
            {% endif %}
        
            {% if login_form.errors %}
                <div class="input-section-form input-error">
                    <h2>Senha</h2>
                    {{ login_form.password }}
                </div>
            {% else %}
                <div class="input-section-form">
                    <h2>Senha</h2>
                    {{ login_form.password }}
                    
                </div>
            {% endif %}
    
                <div class="forgot-password">
                    <h2>
                        Esqueceu sua senha?
                    </h2>
                </div>
    
                <div class="button-login">
                    <button type="submit">Login</button>
                </div>

            </form>
        </section>
    </main>
    
</body>
</html>