{% extends "global/base.html" %} {% load static %} {% block title %} Timeline
{%endblock title %} {% block main %}

<main class="row ProfilePro">
  <header class="row">
    <section class="col-2 profile-info-ProfilePro">
      <div class="back-to-timeline">
        <a href="{{request.META.HTTP_REFERER}}">
          <i class="bi bi-arrow-left"></i>
        </a>
      </div>

      <div class="profile-info">
        <div class="img-user">
          <img src="{{ user.avatar }}" alt="">
        </div>
        <div class="data-and-socialaccount">
          <h1>{{ profile.user.full_name }}</h1>
          <h2>{{ profile.get_profession_display }}</h2>
        </div>
      </div>
    </section>

    <section class="col-2 button-ProfilePro">

        <button type="button" class="" data-bs-toggle="modal" data-bs-target="#editProfileModal">
          Editar portfolio
        </button>
        
        <!-- Modal -->
        <div class="modal fade {% if modal_open %} show {% endif %}" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-ProfilePro">

            <div class="modal-content modal-content-ProfilePro">

              <div class="modal-header modal-header-ProfilePro">
                <h1 class="modal-title fs-5" id="editProfileModalLabel">Editar Perfil</h1>
                <button type="button" class="btn-close btn-close-ProfilePro" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>

              <div class="modal-body modal-body-ProfilePro login_page">
                <section>
                  <form action="{% url 'user:save_profile' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                      <div class="input-section-form">
                          <h2>
                              Nome Completo
                          </h2>
                          {{ edit_profile_form.full_name }}
                      </div>
          
                      <div class="input-section-form">
                          <h2>
                              E-mail
                          </h2>
                          {{ edit_profile_form.email }}
                      </div>

                      <div class="cols-2-input">               
                          <div class="input-section-profession">
                              <h2>
                                  Profissão
                              </h2>
                              {{ edit_profile_form.profession }}
                          </div>
              
                          <div class="input-section-form">
                              <h2>
                                  Site
                              </h2>
                              {{ edit_profile_form.site }}
                          </div>
                      </div>

                      <div class="cols-2-input">               
                          <div class="input-section-form">
                              <h2>
                                  Senha antiga
                              </h2>
                              {{ edit_profile_form.old_password }}
                          </div>
          
                          <div class="input-section-form">
                            <h2>
                                Nova senha
                            </h2>
                            {{ edit_profile_form.new_password }}
                        </div>
                    </div>
                    
                    <div class="spacer"></div>

                    <div class="btn-section-ProfilePro">
                      <button>Cancelar</button>
                      <button type="submit">Salvar</button>
                    </div>

                    <div class="change-img-ProfilePro">
                      <img id="profile-image" src="{% static 'global/media/img/default.jpg' %}" alt="" />
                      {{ edit_profile_picture.profile_picture }}
                    </div>

                  </form>
                </section>
              </div>
            </div>
          </div>
        </div>
    </section>
  </header>

  <main class="row body-ProfilePro">
    <header class="header-ProfilePro">
      <h1>Projetos</h1>
    </header>
    <section class="works-ProfilePro">
      {% if projects %}
        {% for project in projects %}
            {% if project.imageportfolio_set.exists %}
                <div class="projects-ProfilePro">
                    <a href="{% url 'portfolio:project_page' project_id=project.id %}">
                        <img src="{{ project.imageportfolio_set.first.img_upload.url }}" alt="">
                    </a>
                </div>
            {% else %}
                No images found
            {% endif %}
        {% endfor %}
      {% endif %}
    </section>
  </main>

{% if modal_open %}
<script>
  document.addEventListener("DOMContentLoaded", function() {
      var editProfileModal = new bootstrap.Modal(document.getElementById('editProfileModal'));
      editProfileModal.show();
  });

</script>
{% endif %}


</main>

{% endblock main %}
