{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'global/partials/head.html' %}
    <title>Cadastro | Empresa</title>
</head>
<body>
    
    {% include 'global/partials/header-pub.html' %}

    <main class="login_page">
        <section>
            <form action="{% url 'user:register-company' %}" method="POST">
                {% csrf_token %}
    
                <header class="header-professional">
                    <h1>
                        Cadastre-se 
                    </h1>
                    <h3>
                        Se junte ao nosso clube e tenha acesso aos melhores clientes e projetos.
                    </h3>
                </header>
    
    
                <div class="cols-2-input">               
                    <div class="input-section-form">
                        <h2>
                            Nome
                        </h2>
                        {{form.full_name}}
                        {{ form.full_name.errors }}
                    </div>
        
                    <div class="input-section-form">
                        <h2>
                            Nome fantasia
                        </h2>
                        {{ form.fantasy_name }}
                        {{ form.fantasy_name.errors }}
                    </div>
                </div>

                <div class="input-section-form">
                    <h2>
                        E-mail
                    </h2>
                    {{ form.email }}
                    {{ form.email.errors }}
                </div>

                <div class="cols-2-input">               
                    <div class="input-section-form">
                        <h2>
                            Produto
                        </h2>
                        {{ form.product }}
                        {{ form.product.errors }}
                    </div>
        
                    <div class="input-section-form">
                        <h2>
                            Site
                        </h2>
                        {{ form.site }}
                        {{ form.site.errors }}
                    </div>
                </div>

                <div class="cols-2-input">               
                    <div class="input-section-form">
                        <h2>
                            Senha
                        </h2>
                        {{ form.password1 }}
                        {{ form.password1.errors }}
                    </div>
    
    
                    <div class="input-section-form">
                        <h2>
                            Confirma senha
                        </h2>
                        {{ form.password2 }}
                        {{ form.password2.errors }}
                    </div>
                </div>
    
                <div class="button-register">
                    <button type="submit">Cadastre-se</button>
                </div>
    
            </form>
        </section>
    
    </main>
    
</body>
</html>