{% extends "global/base.html" %}
{% load static %}

{% block title %} Login {% endblock title %} Login

{% block main %}
{% include 'global/partials/header.html'%}

<main class="login_page">
    <section>
        <form action="{% url 'user:register' %}" method="POST">
            {% csrf_token %}

            <h1>
                Cadastre-se
            </h1>

            <div class="input-section">
                <h2>
                    Nome Completo
                </h2>
                {{form.full_name}}
            </div>

            <div class="input-section">

                <h2>
                    E-mail
                </h2>
                {{form.email}}

                {% if email_errors %}
                    <p> {{email_errors}} </p>
                {% endif %}
            </div>

            <div class="input-section">
                <h2>
                    User Name
                </h2>
                {{form.user_name}}

                {% if username_errors %}
                    <p> {{username_errors}} </p>
                {% endif %}
            </div>

            <div class="input-section">
                <h2>
                    Senha
                </h2>
                {{form.password1}}
            </div>


            <div class="input-section">
                <h2>
                    Confirma senha
                </h2>
                {{form.password2}}

                {% if password_errors %}
                    <p> {{password_errors}} </p>
                {% endif %}

            </div>

            <div class="button-register">
                <button type="submit">Cadastre-se</button>
            </div>

        </form>
    </section>
</main>



{% endblock main %}