{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-mail Marketing</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <table  width="595px" border="0" align="center">
        <tr>
            <th colspan="3" align="center">
                <h1 style="font-family: Bebas Neue;
                        font-size: 40px;
                        font-weight: 400;
                        line-height: 48px;
                        letter-spacing: 0.01em;
                        text-align: center;
                        margin-bottom:12px;
                        width: 499px;
                        height: 96px;">

                    SAIBA MAIS SOBRE A NOVA FORMA DE CONECTAR CLIENTE E PROFISSIONAL
                </h1>
            </th>
        </tr>

        <tr>
            <td align="center" colspan="3">
                <h2 style="font-family: Inter;
                        font-size: 20px;
                        font-style: italic;
                        font-weight: 500;
                        line-height: 24.2px;
                        text-align: left;
                        color:#717171;
                        width:393px;
                        margin:0 0 24px 0;
                        ">
                    Conecte-se , se relacione, comunique-se
                </h2>
            </td>
        </tr>

        <tr>
            <td align="center" colspan="3" style="background-color:#242424;">
                <a href="" width="200px" style="text-decoration: none;">
                    <h1 style="font-family: Bebas Neue;
                            font-size: 32px;
                            font-weight: 400;
                            line-height: 38.4px;
                            letter-spacing: 0.01em;
                            text-align: center;
                            color:#F8F8F8;
                            margin:12px 0 12px 0;
                            ">
                        DECORBOOK.COM.BR
                    </h1>
                </a>
            </td>
        </tr>

        <tr>
            <td>
                <div style="margin-bottom: 54px;"></div>
            </td>
        </tr>

        <tr>
            <td >
                <img src="{% static 'global\media\emails\email2-im-1.png' %}" alt="">
            </td>
            <td colspan="2">
                <h1 style="font-family: Inter;
                        font-size: 24px;
                        font-weight: 700;
                        line-height: 29.05px;
                        text-align: left;
                        color:#242424;
                        ">

                    CONEXÃO
                </h1>

                <h2 style="width: 308px;
                        font-family: Inter;
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 24.2px;
                        text-align: left;
                        color:#717171;
                        ">
                    Facilitamos o contato entre cliente e profissional, fornecendo 
                    canais para exploração de estilos, projetos, produtos e muito mais.
                </h2>
            </td>
        </tr>

        <tr>
            <td>
                <div style="margin-bottom: 32px;"></div>
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <h1 style="font-family: Inter;
                        font-size: 24px;
                        font-weight: 700;
                        line-height: 29.05px;
                        text-align: left;
                        color:#242424;
                        ">

                        RELACIONAMENTO
                </h1>

                <h2 style="width: 308px;
                        font-family: Inter;
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 24.2px;
                        text-align: left;
                        color:#717171;
                        ">
                        As relações criadas na plataforma podem ser baseadas em estilos,
                        gostos e objetivos em comum,
                </h2>
            </td>

            <td align="right">
                <img src="{% static 'global\media\emails\email2-im-2.png' %}" alt="">
            </td>
        </tr>

        <tr>
            <td>
                <div style="margin-bottom: 32px;"></div>
            </td>
        </tr>
        
        <tr>
            <td >
                <img src="{% static 'global\media\emails\email2-im-3.png' %}" alt="">
            </td>
            <td colspan="2">
                <h1 style="font-family: Inter;
                        font-size: 24px;
                        font-weight: 700;
                        line-height: 29.05px;
                        text-align: left;
                        color:#242424;
                        ">

                        COMUNICAÇÃO
                </h1>

                <h2 style="width: 308px;
                        font-family: Inter;
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 24.2px;
                        text-align: left;
                        color:#717171;
                        ">
                        Na plataforma, há diversas formas de comunicar e manifestar gostos, tanto através de salvamentos 
                        e curtidas no portfólio quanto no chat entre profissionais e clientes.
                </h2>
            </td>
        </tr>

        <tr>
            <td>
                <div style="margin-bottom: 61px;"></div>
            </td>
        </tr>

        <tr>
            <td align="center" colspan="3" style="background-color:#242424;">
                <h1 style="font-family: Inter;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 19.36px;
                        text-align: center;
                        color:#FFFFFF;
                        margin:32px 0 24px 0;
                        ">
                    Se junte a nós nessa plataforma e poste e acesse projetos, 
                    se conecte com outros profissionais, lojas e até possíveis clientes!
                </h1>
                <a href="">
                    <button style="width: 216px;
                                height: 40px;
                                border-radius: 4px;
                                background-color:#FDFDFD;
                                font-family: Inter;
                                font-size: 16px;
                                font-weight: 600;
                                line-height: 19.36px;
                                text-align: center;
                                color:#242424;
                                margin-bottom:24px;   
                                border:none;                             
                                ">
                        Conheça a plataforma!
                    </button>
                </a>
            </td>
        </tr>

        <tr>
            <td colspan="3" align="center">
                <img style="margin: 40px 0px 40px 0px;" src="{% static 'global\media\emails\decorbook_logo.png' %}" alt="">
            </td>
        </tr>

    </table>

</body>
</html>





