{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Welcome</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    
    <table  width="595px" border="0" align="center">
        <tr>
            <th>
                <img style="margin: 0px 0px 24px 0px;" src="{% static 'global\media\emails\decorbook_logo.png' %}" alt="">
            </th>
        </tr>

        <tr>
            <td style="">
                <h1 style="font-family: Bebas Neue; font-size: 40px; font-weight: 400; text-align: center; margin: 0px 0px 16px 0px;">
                    BEM-VINDO A MAIS NOVA PLATAFORMA DE PORTFOLIOS E CONEXÕES
                </h1>
            </td>
        </tr>

        <tr>
            <td style="">
                <p style="margin: 0px 0px 40px 0px; font-family: Inter; font-size: 20px; font-style: italic; font-weight: 500; line-height: 24.2px; text-align: center; color:#717171; ">
                    Conecte-se , se relacione, comunique-se
                </p>
            </td>
        </tr>

        <tr>
            <td align="center">
                <a href="" align="center">
                    <button style=" margin-bottom:40px; width: 216px; height: 48px; border-radius: 4px; background-color:#242424; font-family: Inter; font-size: 18px; font-weight: 600; line-height: 21.78px; text-align: center; color:#F6F6F6;">
                        Saiba mais
                    </button>
                </a>
            </td>
        </tr>

        <tr>
            <td>
                <table  align="center" style="margin-bottom: 48px;">
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <td rowspan="3">
                            <img src="{% static 'global\media\emails\section-1-img1.png' %}" alt="">
                        </td>
                        <td>
                            <img src="{% static 'global\media\emails\section-1-img2.png' %}" alt="">
                        </td>
                        <td rowspan="2">
                            <img src="{% static 'global\media\emails\section-1-img4.png' %}" alt="">
                            <img src="{% static 'global\media\emails\section-1-img5.png' %}" alt="">
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="{% static 'global\media\emails\section-1-img3.png' %}" alt="">
                        </td>
                        <td>
                        </td>
                    </tr>


                </table>
            </td>
        </tr>

        <tr>
            <td align="center" style="width: 100%; height: 121px; background-color: #242424;">
                <p style="width: 547px; height: 57px; font-family: Inter; font-size: 16px; font-weight: 400; text-align: center; color:#FFFFFF;">
                    Sua principal forma de conexão com milhares de arquitetos, designers, paisagistas, construtoras, lojas, serviços, artistas, decoradores e milhares de empresas do segmento através dos seus portfólios.
                </p>
            </td>
        </tr>

        <tr>
            <td >

                <table align="center" style="margin-bottom: 48px;">
                    <tr>

                        <th colspan="3" align="center">
                            <h1 style="font-family: Inter; font-size: 16px; font-weight: 700; line-height: 19.36px; text-align: justified; color:#242424;">
                                Celso Laetano
                            </h1>
                        </th>

                    </tr>

                    <tr>
                        <td colspan="2">
                            <img src="{% static 'global\media\emails\section-2-img1.png' %}" alt="">
                        </td>
                        <td rowspan="2">
                            <img src="{% static 'global\media\emails\section-2-img2.png' %}" alt="">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="{% static 'global\media\emails\section-2-img3.png' %}" alt="">
                        </td>
                        <td>
                            <img src="{% static 'global\media\emails\section-2-img4.png' %}" alt="">
                        </td>
                    </tr>
                    
                    <tr>
                        <td colspan="2" align="end"> 
                            <h1 style="margin:0; font-family: Inter; font-size: 16px; font-weight: 400; line-height: 19.36px; text-align: justified; color:#6F6F6F;">
                                Fotógrafos: Paulo Altafin/ Jefferson Ataliba
                            </h1>
                        </td>
                        <td> </td>
                    </tr>

                </table>
            </td>
        </tr>
        
        <tr>
            <td align="center">
                <a href="" >
                    <button style=" margin-bottom: 24px; width: 216px; height: 40px; border-radius: 4px; background: #242424; font-family: Inter; font-size: 16px; font-weight: 600; text-align: center; color: #F6F6F6;">
                        Mais sobre o projeto
                    </button>
                </a>
            </td>
        </tr>

        <tr>
            <td>
                <table align="center" style="margin-bottom: 48px;">
                    <tr>
                        <th colspan="3" align="center">
                            <h1 style="font-family: Inter; font-size: 16px; font-weight: 700; line-height: 19.36px; text-align: justified; color:#242424;">
                                Bruno Rubiano
                            </h1>
                        </th>
                    </tr>

                    <tr>
                        <td colspan="2">
                            <img src="{% static 'global\media\emails\section-3-img1.png' %}" alt="">
                        </td>
                        <td rowspan="2">
                            <img src="{% static 'global\media\emails\section-3-img2.png' %}" alt="">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="{% static 'global\media\emails\section-3-img3.png' %}" alt="">
                        </td>
                        <td>
                            <img src="{% static 'global\media\emails\section-3-img4.png' %}" alt="">
                        </td>
                    </tr>

                </table>
            </td>
        </tr>

        <tr>
            <td align="center">
                <a href="" >
                    <button style=" margin-bottom: 24px; width: 216px; height: 40px; border-radius: 4px; background: #242424; font-family: Inter; font-size: 16px; font-weight: 600; text-align: center; color: #F6F6F6;">
                        Mais sobre o projeto
                    </button>
                </a>
            </td>
        </tr>


        <tr>
            <td>
                <table align="center" style="margin-bottom: 48px;">
                    <tr>
                        <th colspan="2" align="center">
                            <h1 style="font-family: Inter; font-size: 16px; font-weight: 700; line-height: 19.36px; text-align: justified; color:#242424;">
                                Barbara di Monaco
                            </h1>
                        </th>
                    </tr>

                    <tr>
                        <td >
                            <img src="{% static 'global\media\emails\section-4-img1.png' %}" alt="">
                        </td>
                        <td >
                            <img src="{% static 'global\media\emails\section-4-img2.png' %}" alt="">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="{% static 'global\media\emails\section-4-img3.png' %}" alt="">
                        </td>
                        <td>
                            <img src="{% static 'global\media\emails\section-4-img4.png' %}" alt="">
                        </td>
                    </tr>

                </table>
            </td>
        </tr>

        <tr>
            <td align="center">
                <a href="" >
                    <button style=" margin-bottom: 24px; width: 216px; height: 40px; border-radius: 4px; background: #242424; font-family: Inter; font-size: 16px; font-weight: 600; text-align: center; color: #F6F6F6;">
                        Mais sobre o projeto
                    </button>
                </a>
            </td>
        </tr>


        <tr>
            <td align="center" style="width: 100%; height: 158px; background-color: #242424; margin-bootom: 40px;">
                <p style="width: 547px; height: 38px; font-family: Inter; font-size: 16px; font-weight: 400; text-align: center; color:#FFFFFF;">
                    Se junte a nós nessa plataforma e poste e acesse projetos, se conecte com outros profissionais, lojas e até possíveis clientes!
                </p>
                <a href="">
                    <button style="border:none; width: 216px; height: 40px; border-radius: 4px; background: #FDFDFD; font-family: Inter; font-size: 16px; font-weight: 600; text-align: center; color:#242424;">
                        Conheça a plataforma!
                    </button>
                </a>
            </td>
        </tr>

        <tr>
            <td align="center">
                <img style="margin: 40px 0px 24px 0px;" src="{% static 'global\media\emails\decorbook_logo.png' %}" alt="">
            </td>
        </tr>
        
    </table>

</body>


</html>




